<!-- <html>
    <head>
        <title>B8 Page</title>
    </head>

<body>

    <h1>This is Heading</h1>
    <p>This is paragraph<p>

</body>

</html>> -->


<!-- <html>
    <head>
        <title>URL</title>>
    </head>

<body>
    <a href = https://www.w3schools.com> Visit W3School</a>

</body>>


</html> -->

<!-- <html>
<body style = "background-color: aqua   ;">
    <h1 style="color:crimson; font-size:100px; text-align:center"><b>This is <mark>Bantu</mark> style</b></h1>
    <h2 style="text-align:center;"><i>This is <strong>Bantu</strong> style</i></h2>
    <h1 style="color:orange; text-align:center;">This is <sub>Bantu</sub><sup> style</sup></h1>

<p>Using <abbr title="Cascade Style Sheet">CSS</abbr></p>
<blockquote>The most common way to add CSS, is to keep the styles in external CSS files. However, in this tutorial we will use inline and internal styles, because this is easier to demonstrate, and easier for you to try it yourself.</blockquote>

</body>
</html> -->


<!-- <blockquote></blockquote> works as indentation -->
<!-- <abbr></abbr> when cursor move to abbr then it will show long form of CSS -->


<!-- <html>
    <head>
        <style>
            body{background-color:powderblue;}
            h1{color:blue; margin: 50px}
            p{color:red; border:4px solid black; padding:20px;}
        </style>
    </head>
<body>
    <h1>This is mine world</h1>
    <h1>This is mine world</h1>
    <h1>This is mine world</h1>
    <h1>This is mine world</h1>
    <p>This is paragraph</p>
    <p>This is paragraph</p>
    <p>This is paragraph</p>
    <p>This is paragraph</p>
</body>
</html> -->


<!-- <html>
    <head>
                <link rel="stylesheet", href="http://www.w3schools.com/html/styles.css">
    </head>
</html> -->

<!-- <html>
    <head>
    </head>
<body>
<h1>The Target Attribute</h1>
<a href="https://www.w3schools.com/" target="_blank"> Visit W3Schools!</a>
</body>
</html> -->


<!-- 
<html>
    <head>
        <body>
            <pre>
My Bonnie lies over the ocean.
      
My Bonnie lies over the sea.
      
My Bonnie lies over the ocean.
      
Oh, bring back my Bonnie to me.
        </body>
    </head>
</html> -->



<html>
<body>

<p>This text is normal.</p>

<p><strong><ins><q>This text is important!</q></ins></strong></p>
<ol type="1">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

<blockquote cite ="http://www.worldwildlife.org/who/index.html">
For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
</blockquote>


</body>
</html>


<!-- Internal CSS -->
<!-- <html>
    <head>
        <style>
            body{background-color: powderblue;}
            h{color:red}
            p{background-color: beige;}
        </style>
    </head>
<body>
    <h1>Internal CSS</h1>
    <P>An internal CSS is used to define a style for a single HTML page..</P>

</body>
</html> -->

<!-- <html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<h1>This is a heading</h1>
<a href="default.asp"><img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;"></a>
<a href="default.html" title="Home">Back to Home</a>
<p>This is a paragraph.</p>

</body>
</html> -->

<!-- 
<table>
    <tr>
      <th colspan="2">Name</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>Jill</td>x
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
  </table> -->
